/*----------header-----------------*/
@font-face {
    font-family: "Helvetica Neue Regular";
    src: url(/assets/fonts/Helvetica\ Neue\ Regular.otf);
}
@font-face {
    font-family: "HelveticaNeue LT 55 Roman";
    src: url(/assets/fonts/HelveticaNeue\ LT\ 55\ Roman\ Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*----------header-----------------*/
header{
    background-color: #0020F4;
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    position: relative;
    
    box-sizing: border-box;
}
.conteiner{
    padding: 40px 240px;
    margin: 0 auto;
    position: relative;
    
}
.header-nav,
.nav-list,
.header-list{
	display: inline-block;
}
.nav-list{
    padding-left: 40px;
    
}
.nav-button{
    margin-left: 78px;
    font-size: 16px;
    color: #171717;
    background-color: #FFFFFF;
    padding:18px 43px;
    border-radius: 28px;
    border: 1px solid #FFFFFF;
    transition: all.5s;
    font-family: Helvetica Neue Regular;
}
.nav-button:hover{
    color: white;
    background-color: transparent;

}
.header-nav{
    position: absolute;
    top: 65px;
    right: 280px;
}
.header-logo,
.header-nav{
    vertical-align: middle;
}
.nav-text::after{
    content: "";
	width: 0%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	display: block;
    margin-top: 16px;
    transition: all .3s;
}
.nav-text:hover::after{
    width: 90%;
}

.nav-text{
    color: #FFFFFF;
    font-size: 16px;
    transition: all .3s;
    font-family: Helvetica Neue Regular;
}
.nav-text:hover{
color: #171717;
}
.intro-img-1{
    position: absolute;
    left: 240px;
    bottom: 200px;



    max-width: 700px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}
.intro-img-2{
    position: absolute;
    bottom: 60px;
    right: 0px;


    max-width: 935px;
    width: 100%;
    height: 800px;
}
.right-scrol{
    position: absolute;
    bottom: 142px;
    left: 924px;


    padding: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #FFFFFF;
    transition: all .3s;
}
.right-scrol:hover{
    background-color: transparent;
    color: #FFFFFF;
}

.left-scrol{
    position: absolute;
    bottom: 142px;
    left: 877px;
    
    padding: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #FFFFFF;
    transition: all .3s;
}
.left-scrol:hover{
    background-color: transparent;
    color: #FFFFFF;
}
.intro-point1{
    position: absolute;
    bottom: 142px;
    left: 300px;
    
}
.intro-point2{
    position: absolute;
    bottom: 142px;
    left: 270px;

}
.intro-point3{
    position: absolute;
    bottom: 142px;
    left: 240px;
}
/*----------header-----------------*/
/* Section oto */
.about-services{
    max-width: 1920px;
    margin-top: 180px;
    margin-left: 240px;
}
.about-us p{
    font-family: "HelveticaNeue LT 55 Roman";
    font-size: 16px;
    vertical-align: top;
    margin-top: 60px;
    display: inline-block;
    max-width: 463px;
    
}
.about-us img{
    border-radius: 15px;
    box-shadow: 10px 10px #0020F4;
    vertical-align: top;
    display: inline-block;
    width: 707px;
    height: 707px;
    margin-left: 137px;
    margin-top: 182px;

}
.about-us{
    vertical-align: middle;
    width: 100%;
}
/* span{ */
    /* background-color: blue; */
h3{
    margin-top: 394px;
    margin-left: 855px;
}
.services p{
    font-family: "HelveticaNeue LT 55 Roman";
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    width: 463px;
    margin-left: 138px;
    margin-top: 60px;
    
}
.services img{
    box-shadow: -10px 10px #0020F4;
    border-radius: 15px;
    vertical-align: top;
    display: inline-block;
    max-width: 707px;
    height: 100%;
    margin-top: 182px;
}


.projects{
    margin-top: 394px;
}
.about-services h2{
    font-family: "Helvetica Neue Regular";
    font-weight: bold;
    font-size: 32px;
}
.services h3{
    font-family: "Helvetica Neue Regular";
    font-weight: bold;
    font-size: 32px;
}
#blue-text{
    color: #0A22F4;
}